body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    background-color: #14580D;
}

.gallery{
    display:flex;
    justify-content: center;
}

img{
 margin: 5px; 
 width: 350px;  
}

article{
    border-top: 3px dashed darkblue;
}

h1 a{
    margin-left: 55px;
}

.nav-link {
    text-decoration: none;
}

p {
    font-size: 10px;
}

h2 {
    background-color: rgba(0, 255, 64, 0.952);
    color: dark;
    font-size: 30px;
    padding: 10px;
}
