body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    background-color: #495BE7;
}

.gallery{
    display:flex;
    justify-content: center;
}

img{
 margin: 5px; 
 width: 350px;  
}

article{
    border-top: 3px dashed darkblue;
}

h1 a{
    margin-left: 55px;
}

.nav-link {
    text-decoration: none;
}

p {
    font-size: 10px;
}

h2 {
    
    color: dark;
    font-size: 30px;
    padding: 10px;
}

a{
   text-decoration: none; 
    background-color: #263CDF;
    color: #97A2F4;
    border-radius: 15px; 
    padding: 10px;
    margin: 20px;
}

